@import 'reset.scss';
@import 'topContainer.scss';
@import 'bands.scss';
@import 'spaceInfo.scss';

html {
  background-image: url(http://res.cloudinary.com/tonedream/image/upload/v1520275987/lmno_records/rainbowLMNO_pcurx2.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: purple;
}

a:visited {
  text-decoration: none;
}
a:hover {
  color: pink;
}