.space-info {
    display: flex;
    justify-content: center;
    padding-top: 27vh;
    div {
        background-color: white;
        font-family: "Lato";
        border-radius: 5%;
        width: 87%;
        p {
            padding: 3% 3%;
            background: transparent;
        }
    }
}