.space-info {
    display: flex;
    padding-top: 27vh;
    div {
        background-color: white;
        width: 100%;
        font-family: Lato;
        margin: 4% 4%;
        p {
            padding: 3% 3%;
        }
    }
}